In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("complete/1980_to_2020.csv")
df.head()

                                      name              spotify_id  popularity
0                   Mood (feat. iann dior)  3tjFYV6RSFtuktYl3ZtYcq       100.0
1                          Blinding Lights  0VjIjW4GlUZAMYd2vXMi3b        97.0
2                                 Dynamite  0t1kP63rueHleOhQkYSXFY        97.0
3             ROCKSTAR (feat. Roddy Ricch)  7ytR5pFWmSjzHJIeQkgog4        96.0
4  For The Night (feat. Lil Baby & DaBaby)  0PvFJmanyNQMseIFrU708S        95.0

In [19]:
mask = (df["name"].str.contains("everything has chang", regex=False, case=False))
df[mask]

                         name              spotify_id  popularity
5141   Everything Has Changed  3Z1kZKYfRC8iRXnYeC5sCJ        67.0
12941  Everything Has Changed  4NAmRvqSITAAzKWnC8yRq3        60.0
20532  Everything Has Changed  7gdwoOmi258QJq0hmQ4hto        56.0

In [20]:
df.sort_values(by="popularity", inplace=True)

In [23]:
df["artist"] = ""
df["danceability"] = -1
df["energy"] = -1
df["loudness"] = -1
df["mode"] =  -1
df["speechiness"] = -1
df["acousticness"] = -1
df["instrumentalness"] = -1
df["liveness"] = -1
df["valence"] = -1
df["preview"] = ""
df["img"] = ""

In [30]:
df.head()

,name,spotify_id,popularity,artist,danceability,energy,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence
43847,P-Poppin',6yOghbMYTTUdOGiExT0rIF,40.0,,-1,-1,-1,-1,-1,-1,-1,-1,-1
43756,Be Easy,00qpe8j0FiQhMzPP8asBwP,40.0,,-1,-1,-1,-1,-1,-1,-1,-1,-1
43757,The Light & the Glass,323bMKFBvCrQ7YSrdCps3W,40.0,,-1,-1,-1,-1,-1,-1,-1,-1,-1
43758,Noches Eternas - Mariachi,5QP8hImTI6nJFXIcewXM64,40.0,,-1,-1,-1,-1,-1,-1,-1,-1,-1
43759,Mercy Said No,3wOHgqLMIqHierF0D8VoMl,40.0,,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [29]:
df.iloc[0, 3]

''

In [21]:
df.to_csv("1980_to_2020.csv", index=False)